
	body{
		background-image: url("https://wallpaperscraft.com/image/switzerland_alps_mountains_night_beautiful_landscape_99817_1920x1080.jpg");
		width:100%;
		height:100%;
		object-fit: fill;
		overflow-x: hidden;
		background-size: cover;
		
	}
	.headings{
		color: #FFF;
		font-family:'Kaushan Script', cursive;
	}
	.small-headings{
		color:#FFF;
		font-family:'Marck Script', cursive;
	}
	.button {
  color: #fff;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  transition:all 0.3s ease-in-out;
  &:hover {
	border:solid 2px #fff;
	color:#722872;
	background: #fff;
  }
}
.pic{
	height: 250px;
	width: 250px;
	margin:25px;
}

.bg-footer{
	margin-top: 60px;
	background-color:#283593;
	color:#FFF;
	height: 60px;
}
nav{
	position: fixed;
}







